.btn-outline-primary
  border-radius: 50%
  width: 2.5rem
  height: 2.5rem
  vertical-align: middle !important
  &.active
    color: #E3F2FD !important
  &:active
    color: #E3F2FD !important
  &:hover
    color: #E3F2FD !important
  &:focus-visible
    color: #E3F2FD !important

.btn-primary
  border-radius: 25px
  font-family: "Montserrat", sans-serif