body
  font-family: "Roboto", sans-serif
  
.main-content-website section:nth-child(2n)
  background-color: #2e3135 !important

h2
  font-family: "Open Sans", sans-serif
  font-weight: 700
  font-size: 2rem
  text-transform: uppercase