.hero
  min-height: 100vh
  background-image: url(/assets/img/hero.webp)
  background-position: center
  background-size: cover
  background-repeat: no-repeat

#text-presentation 
  background-color: #000000bd
  margin-top: -100px