.navbar
  z-index: 1500
  
.navbar-brand
  font-family: "Montserrat", sans-serif
  
.nav-link
  font-family: "Open Sans", sans-serif
  font-weight: 500
  &:hover
    color: #803689
  &.active
    color: #803689 !important