.navbar
  transition: all 0.5s
  z-index: 1000
  
.navbar-brand
  font-family: "Montserrat", sans-serif
  
.nav-link
  font-family: "Open Sans", sans-serif
  font-weight: 500
  &:hover
    color: #007ACC
  &.active
    color: #007ACC !important